.centro {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}

.login {
    position:relative;
    left:25%;
    margin-left:-25px;
    width: 55%;
}

.gold-star {
    color:#ffcc00;
}
.navbar-fixed-top + .content-container {
    margin-top: 70px;
}
.content-container {
    margin: 0 130px;
}

